# Expo/Node
node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# VSCode
.vscode/*

# Firebase
.firebase

# Build files
web-build/
dist/

# macOS
.DS_Store

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*

# Testing
coverage/*
